
/*Reset*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root*/

:root{

    --grey:#B1B1B1;
    --light-grey:#EAEAEA;
    --light-blue:#8EDAFC;
}

.color-grey{

    color: var(--grey);
}
/*General*/

img{

    width: 100%;
    display: block;
    
}
.my-container{
    
    position: relative;
    width: 100vw;
    height:  100vh;
    
}
.my-container .top-bg{

    background-color: #009688;
    width: 100vw;
    height: 20vh;
}

.my-container .bottom-bg{

    background-color: #D9DBD4;
    width: 100vw;
    height: 80vh;
}

.icon{

    color:var(--grey);
    width: 40px;
    cursor: pointer;
    
}

.list-style{

    height: 40px;
    list-style: none;
    margin-bottom: 0;
}

.received{

    background-color: #D5F9BA;

}

.sent{

    background-color: white;
}

/*Main content*/

.my-content-container{

    position: absolute;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height:90vh;
    
}

/*Aside*/

.my-content-container .aside{

    width: 30%;
    height: 100%;
    background-color:#FFFFFF;
}

.header-top{

    width: 100%;
    height: 10vh;
    background-color: var(--light-grey);
    
}

.img-user{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.img-user > img{

    border-radius: 50%;
    object-fit: cover;
}


.header-bottom{

    width: 100%;
    background-color: var(--light-blue);

}

.header-bottom .icon-bell{

    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--light-blue);
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    
}

.header-bottom .bottom > a {
    
    color: var(--grey);
}
/*Main Message*/

.my-content-container .main-message{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: aqua;
    background-image: url("../img/mine.jpg");
    padding-left: 2px;
}

/* Header*/

.main-message > header{

    width: 100%;
    height: 10vh;
    background-color: var(--light-grey);
    
}

/*Contenuto*/

/*Footer*/

.main-message > footer{

    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 2px);
    height: 10vh;
    background-color: var(--light-grey);
    
}